@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css);

.social-menu ul {
    height: 60px;
    width: 300px;
    position: absolute;
    top: 49%;
    left: 50%;
    margin: 5px;
    transform: translate(-50%, -50%);
    display: flex;
    margin-top: 345px;
    background-color: #041720;
    box-shadow: 7px 13px 37px rgb(12, 107, 102);
    border-radius: 10px;
}

.social-menu ul li {
    list-style: none;
    margin: 10px 15px 15px 15px;

}

.social-menu ul li .fab {
    font-size: 30px;
    line-height: 40px;
    transition: .3s;
    color: aliceblue;
}

.social-menu ul li .fab:hover {
    color: #921c1c;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 0px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.container {
  background-color: #041720;
  height: 150px;
  border-radius: 5px;
  box-shadow: 7px 13px 37px rgb(12, 107, 102);
}

.title {
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(215, 226, 235);
  text-align: center;
  margin-top: 6px;
  padding: 40px;
}

.contenido {
  display: flex;
  margin: 40px;
}

.item {
  background-color: #041720;
  border-radius: 5px;
  box-shadow: 7px 13px 37px rgb(12, 107, 102);
  height: 400px;
  width: 1000px;
  margin-left: 140px;
}

.dgimg {
  width: 260px;
  height: 210px;
  margin: 10px;
  border-radius: 10px;
  margin-left: 375px;
}

.datos {

  height: 150px;
  width: 600px;
  margin-left: 200px;
  margin-top: 5px;
  border-radius: 10px;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: aliceblue;
  margin: 5px;
}